
.wrapper {
    max-width: 900px;
    margin: 0 auto;
    padding-left: 50px;
    background-color:rgb(209, 209, 216);opacity:0.9;
}
ul {
    list-style-type: none;
}
.ava {
    max-width: 300px;
    display: block;
    float: left;
    border-radius: 15%;
}
h1{
    text-align: center;
    text-decoration: underline;
}
h2 {
    text-align: center;
    color:rgb(32, 30, 34);
}
.code-descr{
    padding-left: 100px;
}
.skills{
    margin-top: 100px;
}
.code-descr {
    text-align: left;
}
