
.wrapper {
    max-width: 900px;
    margin: 0 auto;
}
ul {
    list-style-type: none;
}
.ava {
    max-width: 300px;
    display: block;
    float: left;
}
h2 {
    text-align: center;
    color:blueviolet;
}
.code-descr {
    text-align: left;
}